[Redis Mirror]
type = drive
scope = drive
token = {"access_token":"ya29.a0ARrdaM-F_PUhusks_eb_qYf4FLDjiN2HD_Q-u_-BwAG_kG_KXYMROnz4k2IN8WrCRmqxLkhQrdd7SEntwNX7Yx7gAXZeeHDWvcVQe0OBeluMEgWwQkQ6Vbit4AvmGBWQVrBR5Ij9pxIegXGJOVUVRD__dJcf","token_type":"Bearer","refresh_token":"1//0hMkQpWvt2u9dCgYIARAAGBESNwF-L9IrsHqmpcmRU6PZZl5t6M6zXV38lJ_sOTcrjqIXyTQS5z7OEc1bUMKLxC8MFKxDDal1C7w","expiry":"2022-05-27T14:32:27.926898098Z"}
team_drive = 0AO5lg1GWmbfTUk9PVA
root_folder_id =
